<!DOCTYPE html>
<html>
<head>
		<meta name="viewport" content="width=device-width, user-scalable=no">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="application-name" content="{{target}}'s {{list}} list">
		<link rel="manifest" href="/manifest.json">
		<title>{{target}}'s {{list}} list</title>
		<link rel="stylesheet" href="../../assets/anime/style.css">
		<script src="../../assets/fetch.js"></script>
		<script src="../../assets/anime/vendor.bundle.js"></script>
</head>
<body>
	<template id="template-anime-list">{{data}}</template>
<div id="app"></div>
<script src="../../assets/anime/bundle.js"></script>
</body>
</html>
